* {
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    grid-template: 1fr 10fr / 1fr 2fr 1fr;
    width: 100%;
    min-height: 100vh;
    font-family: 'Gabarito', sans-serif;
}

/* Colours */
#nav, #advanced {
    background-color: #313131;
    color: white;
}

#top {
    background-color: #0f0f0f;
    color: white;
}

/* Grid */
#top {
    grid-column: 1 / 4;
    grid-row: 1;
}

#nav, #container, #advanced {
    grid-row: 2;
}

/* Basic Components */
.white-button {
    background-color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

.white-button:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

.black-button {
    background-color: #0f0f0f;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

.black-button:hover {
    background-color: black;
    cursor: pointer;
}

/* Top */
#top {
    display: flex;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
}

#top > * {
    margin: 0 10px;
}

/* Nav */
#nav {
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    z-index: 2;
}

#nav h3 {
    margin: 10px 0;
}

#nav button {
    display: block;
    background-color: transparent;
    border: transparent;
}

#nav button:hover {
    cursor: pointer;
}

/* Container */
#container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 0;
}

#container * {
    font-family: serif;
}

/* Advanced */
#advanced {
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    z-index: 2;
}

#advanced {
    display: flex;
    flex-direction: column;
}

#advanced div {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    margin: 10px 0;
}

#advanced input {
    border: transparent;
    padding: 5px;
    border-radius: 1px;
}

#advanced input:focus {
    outline: transparent;
}

/* Modal */
#modal {
    display: none;
    background-color: white;
    padding: 20px;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    margin: auto;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);  
    position: absolute;
    box-sizing: border-box;
}

#modal pre {
    height: 80%;
}

/* Accordion */
.accordion {
    background-color: white; 
    color: black;
}

.accordion:hover {
    cursor: pointer;
}

/* Headings */
#h1Btn {
    font-size: 2em;
    font-weight: 700;
}

#h2Btn {
    font-size: 1.5em;
    font-weight: 700;
}

#h3Btn {
    font-size: 1.17em;
    font-weight: 700;;
}

#h4Btn {
    font-size: 1em;
    font-weight: 700;;
}

#h5Btn {
    font-size: 0.83em;
    font-weight: 700;;
}

#h6Btn {
    font-size: 0.67em;
    font-weight: 700;;
}
